.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/biorealm.owl
src/ontology/biorealm.obo
src/ontology/biorealm.json
src/ontology/biorealm-base.*
src/ontology/biorealm-basic.*
src/ontology/biorealm-full.*
src/ontology/biorealm-simple.*
src/ontology/biorealm-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl